<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>U.S. Senator Tracker</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div id="header" class="container">
                <div class="navbar-header">
                    <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"> -->
                    <a class="navbar-brand" href="/#">U.S. Senator Tracker</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#Senators">Senators</a></li>
                    </ul>
                </div> <!-- </div class="header"> -->
            </div> <!-- </div class="container"> -->
        </nav>

        <div class="container">
            <ng-view></ng-view>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

        <!-- Template -->
        <script type="text/ng-template" id="/index.html">

        </script>

        <script type="text/ng-template" id="/senators.html">
        Search: <input type="text" ng-model="search.name"><br /><br />
        <table width="100%">
            <thead>
                <tr>
                    <th>Delete</th>
                    <th>Active</th>
                    <th>Name</th>
                    <th>Party</th>
                    <th>State</th>
                    <th>Senior</th>
                    <th>Birth Date</th>
                    <th>Active Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="senator in senators | filter: search">
                    <td></td>
                    <td><input disabled="disabled" type="checkbox" ng-model="senator.active"></td>
                    <td><a href="#/{{ $index }}">{{ senator.name.first }} {{ senator.name.last }}</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <h3>New Senator</h3>
        First Name <input type="text" ng-model="newSenator.firstName"><br /><br />
        Last Name <input type="text" ng-model="newSenator.lastName"><br /><br />
        Party 
        <select ng-model="selectedParty" ng-options="party.id as party.name for party in parties">
            <option value="">Select Party</option>
        </select><br /><br />
        State 
        <select ng-model="selectedState" ng-options="state.id as state.name for state in states">
            <option value="">Select State</option>
        </select><br /><br />

        <button ng-click="save()">Create</button> <!--

        <h3>New State</h3>
        Name <input type="text" ng-model="newState.name"><br /><br />

        <button ng-click="save()">Create</button> -->
        </script>

        <script type="text/ng-template" id="/senatorDetails.html">
        <h1>{{ senator.name.first }} {{ senator.name.last }}</h1>
        active: <input type="checkbox" ng-model="senator.active">
        </script>

        <script>
        angular.module('app', ['ngRoute', 'ngResource'])

        //---------------
        // Services
        //---------------
        .factory('Senators', function($http) {
            return $http.get('/api/senators');
        })
        .factory('Parties', function($http) {
            return $http.get('/api/parties');
        })
        .factory('States', function($http) {
            return $http.get('/api/states');
        })
        .factory('SenatorInfo', function(Senators, Parties, States) {
            return [Senators, Parties, States];
        })

        //---------------
        // Controllers
        //---------------

        .controller('BaseController', ['$scope', 'SenatorInfo', function ($scope, SenatorInfo) {
            
        }])

        .controller('SenatorController', ['$scope', 'SenatorInfo', function ($scope, SenatorInfo) {
            var Senators = SenatorInfo[0];
            var Parties = SenatorInfo[1];
            var States = SenatorInfo[2];

            Senators.success(function(data) {
                $scope.senators = data;
            }).error(function(data, status) {
                console.log(data, status);
                $scope.senators = [];
            });

            $scope.selectedParty = null;

            Parties.success(function(data) {
                $scope.parties = data;
            }).error(function(data, status) {
                console.log(data, status);
                $scope.parties = [];
            });

            $scope.selectedState = null;

            States.success(function(data) {
                $scope.states = data;
            }).error(function(data, status) {
                console.log(data, status);
                $scope.states = [];
            });

            $scope.save = function(){
                if($scope.newSenator && $scope.newSenator.length >= 1) {
                    var senator = new Senators({ name: { first: $scope.newSenator.firstName, last: $scope.newSenator.lastName } });

                    senator.$save(function(){
                        $scope.senators.push(senator);
                        $scope.newSenator = '';
                    });
                } /*else if($scope.newState && $scope.newState.length >= 1) {
                    var state = new State({ name: $scope.newState.name });

                    state.$save(function(){
                        $scope.state.push(state);
                        $scope.newState = '';
                    });
                }*/
            }
        }])

        .controller('SenatorDetailCtrl', ['$scope', '$routeParams', 'Senators', function ($scope, $routeParams, Senators) {
            $scope.senators = Senators[$routeParams.id];
        }])

        //---------------
        // Routes
        //---------------

        .config(['$routeProvider', function ($routeProvider) {
            $routeProvider
                .when('/', {
                    templateUrl: '/index.html',
                    controller: 'BaseController'
                })

                .when('/Senators', {
                    templateUrl: '/senators.html',
                    controller: 'SenatorController'
                })

                .when('/Senators/:id', {
                    templateUrl: '/senatorDetails.html',
                    controller: 'SenatorDetailCtrl'
                });
        }]);
        </script>
    </body>
</html>
